<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="~{common_student::headerStudent}">

</div>
<a href="/student/create">Create Student</a>
<!--<p style="color: blue">${msg}</p>-->
<table border="1">
    <tr>
        <th>NO</th>
        <th>Name Student</th>
        <th>Point</th>
        <th>Gender</th>
        <th>Rank</th>
        <th>Classroom</th>
        <th>Detail</th>
    </tr>
    <tr th:each="student, state: ${listStudent.content}">
        <td th:text="${state.count}"></td>
        <td th:text="${student.nameStudent}"></td>
        <td th:text="${student.point}"></td>
        <td>
            <p th:if="${student.gender == 0}">Male</p>
            <p th:if="${student.gender == 1}">FeMale</p>
        </td>
        <td></td>
        <td th:text="${student.classroom.nameClass}"></td>
        <td><a th:href="@{/student/detail/{codeStudent}(codeStudent = ${student.codeStudent})}">Detail</a> </td>
    </tr>
</table>
<div>
    <span>
        <a th:if = "${listStudent.hasPrevious()}" th:href="@{/student(page = ${listStudent.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,listStudent.totalPages - 1)}">
        <a th:href="@{/student(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if = "${listStudent.hasNext()}" th:href="@{/student(page = ${listStudent.number +1})}">Next</a>
    </span>
</div>
<div th:replace="~{common_student::footerStudent}"></div>
</body>
</html>