<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
</head>
<body>
<h3>Return Book Info</h3>
<p><a th:href="@{/book}">Back to Book List</a></p>
<div id="form">
  <form th:action="@{/submitpay}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Book Title</label>
      <input readonly type="text" th:field="*{title}"/>
    </div>
    <div>
      <label>Author</label><br>
      <input readonly type="text" th:field="*{author}"/>
    </div>
    <div>
      <label>Amount</label>
      <input readonly type="text" th:field="*{amount}"/>
    </div>
    <input type="hidden" th:field="*{count}"/>
    <center><input type="submit" value="Submit"></center>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>