<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Product Information</title>
</head>
<body>
<h3>Product Information</h3>
    <p><a th:href="@{/product}">Back to Products List</a></p>
    <div id="form">
        <table id="viewTable">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Producer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.producer}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="/layout :: footer"></footer>
</body>
</html>