<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Client Management</title>

    <th:block th:replace="~{layout::top-bootstrap}"></th:block>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/bootstrap.bundle.min.js"></script>

</head>

<body>
<th:block th:replace="~{layout::navbar}"></th:block>
<th:block th:replace="~{layout::picheader}"></th:block>

<!--  <div class="notify">-->
<!--    <div th:if="${success}">-->
<!--      <span th:text="${success}"></span>-->
<!--    </div>-->
<!--  </div>-->
<!--    <p style="color: blue">${msg}</p>-->
<!-- Features -->
		<br>
		<center>
			<a th:href="@{/addclient}"><button>Add New Customer</button></a>
		</center>
		<br>
        <div>
				<table id="product">
				<thead>
				<tr>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>Gender</th>
					<th>ID</th>
					<th>Phone Number</th>
					<th>Email</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
				</thead>
				<tbody>
				<tr th:each="client,state : ${clientlist}">
					<td th:text="${client.name}"></td>
					<td th:text="${client.dateOfBirth}"></td>
					<td th:text="${client.gender}"></td>
                    <td th:text="${client.idNumber}"></td>
                    <td th:text="${client.phoneNumber}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.address}"></td>
                    <td th:text="${client.clientType.type}"></td>
					<td><a th:href="@{/editclient/{id}(id=${client.id})}">Edit</a> </td>
					<td>
<!--						<a th:href="@{/deleteclient/{id}(id=${client.id})}">Delete</a>-->
						<!--      Modal -->
						<button type="button" th:data-id="${client.id}" th:data-name="${client.name}" onclick="infoDelete(this.getAttribute('data-id'), this.getAttribute('data-name'))" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Delete
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div>
				<span>
					<a th:if="${clientlist.hasPrevious()}" th:href="@{/client(page = ${clientlist.number - 1})}">Previous</a>
				</span>
			<span th:each="pageNo: ${#numbers.sequence(0,clientlist.totalPages - 1)}">
					<a th:href="@{/client(page = ${pageNo})}" th:text="${pageNo}"></a>
				</span>
			<span>
					<a th:if="${clientlist.hasNext()}" th:href="@{/client(page = ${clientlist.number + 1})}">Next</a>
				</span>
		</div>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<%--        sửa ở đây--%>
		<form th:action="@{/deleteClient/}" method="get">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input name="action" value="delete" hidden>
					<input name="deleteId" id="deleteId" hidden>
					<span class="text-danger">Bạn có muốn xoá khách hàng </span><span id="deleteName"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!--Script Delete-->
<script>
	function infoDelete(id, name) {
		document.getElementById("deleteId").innerText=id;
		document.getElementById("deleteId").value=id;
		document.getElementById("deleteName").innerText=name;
	}
</script>

<th:block th:replace="~{layout::script}"></th:block>
<th:block th:replace="~{layout::footer}"></th:block>

</body>

</html>