<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Navbar Menu Template</title>

        <!-- CSS -->
        <th:block th:replace="~{layout::top-bootstrap}"></th:block>
    </head>

    <body>
	    <th:block th:replace="~{layout::navbar}"></th:block>
        <th:block th:replace="~{layout::picheader}"></th:block>

        <th:block th:replace="~{layout::script}"></th:block>
		<th:block th:replace="~{layout::footer}"></th:block>


	</body>

</html>