<center>
  <h2>Service Information</h2>
</center>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><h5>No</h5></th>
    <th scope="col"><h5>Service</h5></th>
    <th scope="col"><h5>Area</h5></th>
    <th scope="col"><h5>Number of Floor</h5></th>
    <th scope="col"><h5>Number of People</h5></th>
    <th scope="col"><h5>Hiring Cost</h5></th>
    <th scope="col"><h5>Hiring Type</h5></th>
    <th scope="col"><h5>Status</h5></th>
    <th scope="col"><h5>Edit</h5></th>
    <th scope="col"><h5>Delete</h5></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of services; index as i">
    <td><p>{{i+1}}</p></td>
    <td><p>{{service.nameService}}</p></td>
    <td><p>{{service.area}}</p></td>
    <td><p>{{service.floor}}</p></td>
    <td><p>{{service.peopleNumber}}</p></td>
    <td><p>{{service.cost}}</p></td>
    <td><p>{{service.hireType}}</p></td>
    <td><p>{{service.status}}</p></td>
    <td><button class="btn btn-info" [routerLink]="['/service/edit', service.id]">Edit</button></td>
    <td><button class="btn btn-danger" [routerLink]="['/service/delete', service.id]" (click)="deleteService(service)">Delete</button></td>

  </tr>
  </tbody>
</table>
<center>
  <button class="btn btn-info" [routerLink]="['/service/create']">Create New Service</button>
</center>
